<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".viewModel.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.groomers"
        tools:targetApi="31">
        <activity
            android:name=".activity.Rating"
            android:exported="false" />
        <activity
            android:name=".activity.EnterOTP"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ShowVendors"
            android:exported="false"
            android:theme="@style/Theme.groomers" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddAddress"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddressList"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ViewOrderDetails"
            android:exported="false" />
        <activity
            android:name=".activity.ReviewAndConfirm"
            android:exported="false" />
        <activity
            android:name=".activity.BookingDetail"
            android:exported="false" />
        <activity
            android:name=".activity.Watching"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseProfile"
            android:exported="false" />
        <activity
            android:name=".activity.Contact"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.OrderLists"
            android:exported="false" />
        <activity
            android:name=".activity.OrderDetails"
            android:exported="false" />
        <activity
            android:name=".activity.AddMember"
            android:exported="false" />
        <activity
            android:name=".activity.Registration"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.AboutYouActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StartAddingServiceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BusinessSizeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShowBusinessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SubUserLogin"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Vendor Dashboard -->
        <activity
            android:name=".activity.Dashboard"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ForgetPassword"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>